* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: url(../images/other/bachgroud.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

p {
  color: white;
  font-size: 50px;
}

.main-body {
  padding-top: 100px;
}

.nav-bar {
  background-color: orange;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 00 3px orange;
  background: rgba(0, 0, 0, 0.5);
}

#chk1 {
  display: none;
}
i {
  color: wheat;
  cursor: pointer;
}

.nav-bar img {
  height: 60px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar .search-box {
  flex: 0.6;
  position: relative;
}

.search-box input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: white;
  border-radius: 30px;
  color: orange;
  font-size: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 40px;
}

.search-box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: orange;
}

#btn1:hover {
  zoom: 1.1;
}

.nav-bar ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}
.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li {
  text-decoration: none;
  color: wheat;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
}
.nav-bar a {
  color: orange;
}

.icon {
  font-size: 30px;
}

.fa-facebook {
  color: orange;
}

.fa-facebook:hover {
  color: red;
}

.fa-instagram {
  color: orange;
}

.fa-instagram:hover {
  color: red;
}

.fa-at {
  color: orange;
}

.fa-at:hover {
  color: red;
}

.fa-phone {
  color: orange;
}

.fa-phone:hover {
  color: red;
}

.fa-bars {
  font-size: 30px;
  color: orange;
}

.fa-bars:hover {
  color: red;
}

.nav-bar ul li a:hover {
  border-bottom: 2px solid cadetblue;
  color: red;
}

.nav-bar.menu {
  font-size: 2.5em;
  display: none;
}

@media (max-width: 1000px) {
  .search-box button {
    position: absolute;
  }
  .nav-bar ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }
  .nav-bar.menu {
    display: block;
    width: 100px;
    text-align: center;
  }

  #chk1:checked ~ ul {
    right: 0;
  }
}

@media (max-width: 600px) {
  .nav-bar img {
    width: 80px;
    height: 40px;
    margin-left: 6px;
  }

  .nav-bar ul {
    width: 80%;
  }
}

/* footer css  */
.footer {
  background-color: rgb(231, 156, 4);
  width: 100%;
  height: 200px;
  position: absolute;
  box-shadow: inset 0 3px rgb(255, 149, 0);
  background: rgba(4, 0, 255, 0.587);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer .sign {
  float: right;
  font-size: 10px;
  margin-top: 50px;
  color: white;
  padding-right: 10px;
  padding-right: 5px;

  /* 
  
  text-transform: uppercase;
  text-decoration: none;
   */
}

.footer .sign ul {
  list-style: none;
}

.footer .sign figcaption {
  font-size: 11px;
}

.footer .sign #design {
  color: white;
  font-size: 8px;
}

#myname {
  font-size: 12px;
  color: orange;
}

.footer .sign abbr {
  font-size: 12px;
}
.footer .sign abbr strong {
  color: orange;
}

.footer #fologo {
  height: 60px;
  width: 80px;
  margin-top: 65px;
  margin-left: 20px;
  float: left;
}

.footer .line1 {
  border-left: 2px solid orange;
  height: 60px;
  float: left;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.footer .foicon {
  font-size: 30px;
  float: left;
  padding-left: 5px;
  padding-right: 5;
  margin-top: 65px;
  color: orange;
}

.footer .foicon ul a {
  margin-right: 25px;
}

.foicon ul li {
  list-style: none;
}

.footer .foicon h4 {
  color: orange;
  font-size: 30px;
  padding-bottom: 10px;
}

.footer .foicon .fa-tiktok {
  color: orange;
}

.footer .foicon a:hover {
  color: red;
}

.footer .foicon .fa-tiktok:hover {
  color: red;
}

/*footer our service menu */
.footer .footercont {
  margin-left: 20px;
  float: left;
  font-size: 20px;
  margin-top: 60px;
}

.footer .footercont ul {
  list-style: none;
}
.footer .footercont ul li {
  text-transform: uppercase;
}

.footer .footercont ul li a {
  color: orange;
  text-decoration: none;
}

.footer .footercont ul li a:hover {
  color: red;
}

/*footer our addres */
.footer .addr {
  color: orange;
  font-size: 20px;
  margin-top: 60px;
  float: left;
  margin-left: 100px;
  text-transform: uppercase;
}

@media (max-width: 666px) {
  .footer #fologo {
    height: 40px;
    width: 50px;
    margin-left: 10px;
  }

  .footer .sign {
    text-align: center;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
  }

  .footer .sign ul li {
    margin-bottom: 5px;
  }

  .footer .sign .ticologo img {
    width: 80px;
    height: 40px;
  }

  .footer .sign .ticologo figcaption {
    font-size: 10px;
  }

  .footer .foicon {
    font-size: 15px;
  }

  .footer .foicon ul a {
    margin-right: 1px;
  }

  .footer .foicon h4 {
    color: orange;
    font-size: 11px;
    padding-bottom: 10px;
  }

  .footer .line1 {
    margin-right: 5px;
    margin-left: 5px;
  }

  /*footer our service menu */
  .footer .footercont {
    margin-left: 5px;
    font-size: 11px;
    margin-top: 65px;
  }

  .footer .addr {
    margin-top: 65px;
    font-size: 8px;
    margin-left: 5px;
  }
}

/* footer media qeury */
@media (max-width: 430px) {
  .footer #fologo {
    height: 40px;
    width: 50px;
    margin-left: 10px;
  }

  .footer .sign {
    text-align: center;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
  }

  .footer .sign ul li {
    margin-bottom: 5px;
  }

  .footer .sign .ticologo img {
    width: 80px;
    height: 40px;
  }

  .footer .sign .ticologo figcaption {
    font-size: 10px;
  }

  .footer .foicon {
    font-size: 15px;
  }

  .footer .foicon ul a {
    margin-right: 1px;
  }

  .footer .foicon h4 {
    color: orange;
    font-size: 11px;
    padding-bottom: 10px;
  }

  .footer .line1 {
    margin-right: 5px;
    margin-left: 5px;
  }

  /*footer our service menu */
  .footer .footercont {
    margin-left: 5px;
    font-size: 11px;
    margin-top: 65px;
  }

  .footer .addr {
    margin-top: 65px;
    font-size: 8px;
    margin-left: 5px;
  }
}

/* footer small viewport */
@media (max-width: 360px) {
  .footer #fologo {
    height: 30px;
    width: 40px;
    margin-left: 5px;
  }

  .footer .line1 {
    height: 40px;
  }

  .footer .sign {
    text-align: center;
    width: 40px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
  }

  .footer .sign .ticologo img {
    width: 40px;
    height: 20px;
  }

  .footer .sign #myname {
    font-size: 9px;
  }

  .footer .sign .ticologo figcaption {
    font-size: 7px;
  }

  .footer .foicon {
    font-size: 12px;
  }

  .footer .foicon h4 {
    font-size: 9px;
  }

  /*footer our service menu */
  .footer .footercont {
    margin-left: 5px;
    font-size: 9px;
  }

  .footer .addr {
    font-size: 8px;
    margin-left: 5px;
  }

  .footer .sign abbr {
    font-size: 8px;
  }

  .footer .sign small {
    font-size: 6px;
  }
}

/* about apge main content */

.main-body h1 {
  text-align: center;
  font-size: 30px;
  color: orange;
  text-transform: uppercase;
}

.main-body .aboutmain #mainphoto {
  height: 600px;
  width: 100%;
}

.main-body .aboutmain h2 {
  text-align: left;
  color: orange;
  margin-left: 40px;
}

.main-body .aboutmain p {
  color: #ffd700;
  font-family: Arial;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  margin-right: 20px;
}
.main-body .aboutmain #bottombout {
  height: 500px;
  width: 500;
  margin-top: 30px;
  margin-left: 30px;
}

.main-body address {
  color: #ffd700;
  float: right;
  margin-right: 100px;
  font-size: 40px;
  text-transform: capitalize;
  margin-top: 50px;
}

@media (max-width: 1106px) {
  .main-body .aboutmain #bottombout {
    height: 300px;
    width: 300px;
  }

  .main-body address {
    font-size: 30px;
  }
}

@media (max-width: 611px) {
  .main-body .aboutmain #bottombout {
    height: 200px;
    width: 200px;
  }

  .main-body address {
    font-size: 20px;
  }
}

@media (max-width: 433px) {
  .main-body .aboutmain #bottombout {
    height: 100px;
    width: 100px;
  }

  .main-body address {
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 284px) {
  .main-body .aboutmain #bottombout {
    height: 100px;
    width: 100px;
  }

  .main-body address {
    font-size: 12px;
    margin-right: 7px;
    margin-top: 20px;
  }
}
